<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="im" >
        <img class="img-avatar" src="assets/img/403.jpg" alt="erreur 403">
        </div>
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">403</h1>
          <h4 class="pt-3">FORBIDDEN</h4>
          <p class="text-muted">Acces refusé vous n'avez pas l'autorisation</p>
        </div>
        <div class="bc" >
          <button (click)='backClicked()'> Go Back</button>
          </div>
      </div>
    </div>
  </div>
</div>
